name: Data prepocessing
on:
  [push]   

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
         python-version: 3.9 

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirement.txt
      
      - name: dowload data 
        run: |
          python -c "from script import download; download('https://raw.githubusercontent.com/12alain/python/master/data/billets.csv')"

      - name: data_cleaned 
        run: |
          python -c "from script import data_cleaned ; data_cleaned()"
          cat   data_cleaned()     